li{
  list-style: none;
}
a{
  text-decoration: none;
}

body{
  font-family: Helvetica, sans-serif;
}

i{
  cursor: pointer;
}

h2{
  font-size: 45px;
}

.em-container{
  width: 60%;
  margin: 0 auto;
}

