/* HEADER */
header{
  position: fixed;
  width: 100%;
  z-index: 999;
}
header .em-header-top{
  height: 35px;
  background-color: black;
}
header .em-header-bottom{
  height: 70px;
  background-color: white;
}
/* header .em-header-bottom nav ul li{
  padding-right: 35px;
} */
header .em-header-bottom nav ul li a{
  color: black;
  font-size: 16px;
  font-weight: 500;
}
header .em-header-bottom nav ul li i{
  font-size: 10px;
}
header .em-header-bottom nav ul li i.fa-magnifying-glass{
  font-size: 20px;
}

header .em-header-bottom i.fa-bars{
  font-size: 30px;
  color: grey;
  padding: 5px 15px;
  border: 1px solid rgba(184, 182, 182, 0.5);
}
/* /HEADER */

/* JUMBOTRON */
#jumbotron{
  padding-top: 105px;
}
#jumbotron .em-container-fluid{
  background-image: url('../img/jumbo-bg.png');
  background-position: center;
  background-size: cover;
}
#jumbotron .em-container-fluid .em-row{
  padding-top: 280px;;
}
#jumbotron .em-container-fluid img{
  width: 70%;
  margin-bottom: 20px;
}

#jumbotron .em-container-fluid .em-btn{
  background-color: #cd3d0f;
}
/* JUMBOTRON */


/* CAROUSEL SECTION */
#carousel img{
  width: 95%;
  border-radius: 15px;
  cursor: pointer;
}

/* /CAROUSEL SECTION */

/* PLAYHASNOLIMITS */
#playhasnolimits span.blue{
  color: #0072ce;
  font-size: 14px;
}
#playhasnolimits p.p-description{
  text-align: center;
}
/* /PLAYHASNOLIMITS */


/* PLAYSTATION5 */

#playstation5 img.console-big{
  width: 100%;
}
#playstation5 img.accessories{
  width: 50%;
}
#playstation5 #accessories-row .active{
  filter: opacity(1);
}
#playstation5 #accessories-row .active{
  position: relative;
}
#playstation5 #accessories-row .active::before{
  content: "";
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 90%;
  height: 2px;
  background-color: #0072ce;
}
@media screen and (max-width: 768px){
  #playstation5 img.accessories{
    width: 100%;
  }
}
/* /PLAYSTATION5 */

/* ITAKESTWO */
#itakestwo img{
  width: 60%;
}

#itakestwo .em-container-fluid{
  background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
  background-position: center;
  background-size: cover;
}
/* ITAKESTWO */

/* NUOVE USCITE */
#nuove-uscite{
  background-color: #1f1f1f;
}
#nuove-uscite img{
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
}
/* NUOVE USCITE */

/* PLAYSTATION4 */
#playstation4 img{
  width: 100%;
}
/* PLAYSTATION4 */

/* PLAYSTATIONPLUS */
#playstationplus{
  background-color: #bebcbb;
}
#playstationplus #left-side img{
  width: 60%;
}
#playstationplus #left-side .em-ps-button{
  color: #0072ce;
  width: 220px;
  background-color: #d9dadc;
  border: none;
  padding: 10px 10px;
}
#playstationplus #right-side img{
  height: 100%;
  width: 100%;
}
/* /PLAYSTATIONPLUS */

/* SCONTI */
#sconti img{
  width: 100%;
}
/* SCONTI */


/* SOCIAL CONTAINER*/
@media screen and (max-width: 992px)
{
    #social .em-container{
      width: 75%;
    }
}
@media screen and (max-width: 768px)
{
    #social .em-container{
      width: 90%;
    }
}
/* /SOCIAL CONTAINER*/