.debug{
  background-color: rgba(127, 255, 212, 0.4);
  border: 1px solid black;
}

.em-btn{
  border-radius: 20px;
}

.em-col{
  padding-bottom: 20px;
}

.p-description{
  color: #6d6c6c;
  font-size: 20px;
}